#flexbox1{
    display: flex; 
    flex-wrap: wrap;
}
#flexbox1 > div{
    border-radius: 10px;
    width: 200px;
    height: 150px;
    margin: 30px;
    margin-left: 50px;
    background-color: rgb(174, 174, 247);
   
}

img{
    width: 200px;
    
}
h1{
    margin-left: 3%;
}
div>p{
    border-radius: 10px;
    padding: 5px;
    background: rgb(240, 234, 234);
    text-align: center;
}
