a[href^="https://www.google.com"]{
    color: green;
}
a[href^="https://www.link-group.eu/"]{
    color: red;
}
#second-div p:nth-of-type(even){
    color: red;
}
#second-div p:nth-of-type(odd){
    color:blue;
}


#first-div > p::after{
    content: "-NEXT";
    color: yellow;
}
p:nth-child(3n+8):hover{
    font-style: italic;
}